# **Python built-in map and filter functions**
1. Use `map` when you want to perform an operation on every item in an iterable - `map(function, iterable)`
2. Use `filter` when you need to pick specific items that meet a condition - `filter(function, iterable)`
3. Use `sum` to add up all elements in an iterable and return their total - `sum(iterable, start=0)`
4. Use `sorted` to sort elements in an iterable and *return a new sorted list* - `sorted(iterable, key=None, reverse=False)`
5. Use `sort` to sort the elements of a **list** *in place*.
  - Unlike `sorted`, `sort` can only be called on lists and does not work on other iterables, it also modifies the original list (in-place) rather than creating a new sorted list.
6. Use `enumerate` to add a counter to an iterable, returning each item in the iterable along with its index - `enumerate(iterable, start=0)`
7. Use `zip` to combine multiple iterables into an iterator of tuples, where each tuple contains one element from each iterable - `zip(*iterables)`

## **1. `map` Function**
* **Purpose:** Applies a given function to every item of an iterable (like a list, tuple, etc.) and returns an iterator of the results.
* **Usage:** `map(function, iterable)`

In [2]:
# Example: Multiply each number in a list by 2.
numbers = [1, 2, 3, 4]
doubled = map(lambda x: x * 2, numbers)
print(list(doubled))  # Output: [2, 4, 6, 8]

[2, 4, 6, 8]

In [3]:
# Example: Multiply each number in a list by 2.
def double(x):
  return x * 2

numbers = [1, 2, 3, 4]
doubled = map(double, numbers)
print(list(doubled))  # Output: [2, 4, 6, 8]

[2, 4, 6, 8]

## **2. `filter` Function**
* **Purpose:** Filters elements in an iterable based on whether they satisfy a given condition, which is defined by a function that returns True or False.
* **Usage:** `filter(function, iterable)`

In [1]:
# Example: Keep only even numbers in a list.
numbers = [1, 2, 3, 4]
evens = filter(lambda x: x % 2 == 0, numbers)
print(list(evens))  # Output: [2, 4]

[2, 4]

In [5]:
# Example: Keep only even numbers in a list.
def is_even(x):
  return x % 2 == 0

numbers = [1, 2, 3, 4]
evens = filter(is_even, numbers)
print(list(evens))  # Output: [2, 4]

[2, 4]

## **3. `sum` Function**
* **Purpose:** Adds all elements in an iterable and returns the total.
* **Usage:** `sum(iterable, start=0)`
  - start (optional)

In [6]:
# Example Sum of a list of numbers:
numbers = [1, 2.5, 3, 4]
total = sum(numbers)
print(total)  # Output: 10.5

10.5

In [7]:
# Example Sum of a list of numbers:
numbers = [1, 2.5, 3, 4]
total = sum(numbers, start=10)
print(total)  # Output: 10 + 10.5 = 20.5

20.5

In [8]:
# Combining map, filter, and sum to sum only the doubled values of even numbers in a list
numbers = [1, 2, 3, 4, 5]
result = sum(map(lambda x: x * 2, filter(lambda x: x % 2 == 0, numbers)))
print(result)  # Output: 12 (since only 2 and 4 are doubled and added: 2*2 + 4*2)

12

## **4. `sorted` Function**
* **Purpose:** Sorts elements in an iterable in ascending or descending order.
* **Usage:** `sorted(iterable, key=None, reverse=False)`
  - `key (optional):` A function that serves as a key for sorting, allowing custom sorting criteria.
  - `reverse (optional):` If True, sorts in descending order; by default, it sorts in ascending order (False).

In [9]:
# Example: Sorting a list of numbers in ascending order
numbers = [5, 2, 9, 1]
sorted_numbers = sorted(numbers)
print(sorted_numbers)  # Output: [1, 2, 5, 9]

[1, 2, 5, 9]

In [10]:
# Example: Sorting in Descending Order (reverse=True)
numbers = [5, 2, 9, 1]
sorted_numbers = sorted(numbers, reverse=True)
print(sorted_numbers)  # Output: [9, 5, 2, 1]

[9, 5, 2, 1]

In [14]:
# Example: Sorting with a Custom Key (in this case 'by age')
users = [
    {'name': 'Mohamed', 'age': 27},
    {'name': 'Ali', 'age': 34},
    {'name': 'Mona', 'age': 19}
]
sorted_words = sorted(users, key=lambda user: user['age'])
print(sorted_words)

[{'name': 'Mona', 'age': 19}, {'name': 'Mohamed', 'age': 27}, {'name': 'Ali', 'age': 34}]

## **5. `sort` Function**
* **Purpose:** Sorts elements in an iterable in ascending or descending order.
* **Usage:** `list.sort(key=None, reverse=False)`
  - `key (optional):` A function that serves as a key for sorting, allowing custom sorting criteria.
  - `reverse (optional):` If True, sorts in descending order; by default, it sorts in ascending order (False).

In [17]:
# Example: Sorting a list of numbers
numbers = [5, 2, 9, 1]
numbers.sort()  # in-place
print(numbers)  # Output: [1, 2, 5, 9]

[1, 2, 5, 9]

## **6. `enumerate` Function**
* **Purpose:** Adds an index (counter) to each item in an iterable, which is helpful when you need to access both the index and the item at the same time.
* **Usage:** `enumerate(iterable, start=0)`
  - `start (optional):` The starting value for the counter (default is 0).

In [21]:
tasks = ['Task 1', 'Task 2', 'Task 3']
indexed_tasks = list(enumerate(tasks))
print(indexed_tasks)

[(0, 'Task 1'), (1, 'Task 2'), (2, 'Task 3')]

In [20]:
tasks = ['Task 1', 'Task 2', 'Task 3']
for index, task in enumerate(tasks):
    print(f"{index + 1}. {task}")

1. Task 1
2. Task 2
3. Task 3

## **7. `zip` Function**
* **Purpose:** Combines elements from multiple iterables, pairing them together element by element.
* **Usage:** `zip(*iterables)`
  - Each iterable passed to `zip` is combined into *tuples*, with each tuple containing one element from each iterable.

In [23]:
# Example: Combining two lists into pairs
names = [ 'Mohamed', 'Ali', 'Mona' ]
ages = [ 27, 34, 19 ]

users = list(zip(names, ages))
print(users)

[('Mohamed', 27), ('Ali', 34), ('Mona', 19)]

In [24]:
# Example: Unequal Lengths of Iterables
names = [ 'Mohamed', 'Ali', 'Mona', 'Hassan' ]
ages = [ 27, 34, 19 ]

users = list(zip(names, ages))
print(users)

[('Mohamed', 27), ('Ali', 34), ('Mona', 19)]

In [30]:
# Example: Multiple Iterables
names = [ 'Mohamed', 'Ali', 'Mona' ]
ages = [ 27, 34, 19 ]
gender = ["Male", "Male", "Female"]

combined = list(zip(names, ages, gender))
print(combined)

for name, age, gender in combined:
  print(f"{name} is {age} years old and is {gender}.")

[('Mohamed', 27, 'Male'), ('Ali', 34, 'Male'), ('Mona', 19, 'Female')]
Mohamed is 27 years old and is Male.
Ali is 34 years old and is Male.
Mona is 19 years old and is Female.

In [31]:
# Example: Unzipping
users = [('Mohamed', 27), ('Ali', 34), ('Mona', 19)]

names, ages = zip(*users)
print(names)
print(ages)

('Mohamed', 'Ali', 'Mona')
(27, 34, 19)